.container {
  max-width: 1024px;
  padding-right: rhythm(3);
  padding-left: rhythm(3);
  margin-right: auto;
  margin-left: auto;
}

.header {
  padding-top: rhythm(15);
  padding-bottom: rhythm(12);
  background: #222;

  &__hgroup {
    max-width: 640px;
  }

  &__heading {
    margin: 0;
    font-size: 32px;
    line-height: 48px;
  }

  &__subheading {
    margin-top: rhythm(1);
    margin-bottom: 0;
    font-size: 18px;
    line-height: 24px;
    color: #aaa;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: min-content;
    height: rhythm(5);
    padding: 0;
    padding-right: rhythm(4);
    padding-left: rhythm(4);
    margin-top: rhythm(3);
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    background: #cd7962;
    border: none;
    border-radius: rhythm(1);
    outline: none;
    opacity: 0.75;

    &:hover {
      opacity: 1;
    }
  }
}

.section {
  padding-top: rhythm(10);
  padding-bottom: rhythm(10);

  &__heading {
    margin: 0 0 rhythm(2);
    font-size: 24px;
    line-height: 32px;
  }
}

.accordion {
  &__item:not(:last-child) {
    padding-bottom: rhythm(2);
    margin-bottom: rhythm(2);
    border-bottom: 1px solid #333;
  }

  &__trigger {
    padding: 0;
    font: inherit;
    font-size: 14px;
    line-height: rhythm(2);
    color: #ccc;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;

    &:hover,
    &[data-state="open"] {
      color: #fff;
    }
  }

  &__content {
    padding-top: rhythm(1);
    font-size: 14px;
    line-height: 20px;
    color: #999;
  }
}
