@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

:root {
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  // user-select: none;
  background: #18191b;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}
  .loader:before,
  .loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
  }
  .loader:after {
    color: #4a88dd;
    transform: rotateY(70deg);
    animation-delay: .4s;
  }

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}

.react-tags {
  position: relative;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 40px;
  padding: 0 12px;
  background: #1f1f1f;
  border: 1px solid #333;
  border-radius: 8px;

  &.is-active {
    border-color: #cd7962;
  }

  &__list {
    display: flex;

    &-item {
      margin-right: 4px;
    }
  }

  &__tag {
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    cursor: pointer;
    background: #111;
    border: none;
    border-radius: 4px;

    &:hover {
      background: #333;
    }
  }

  &__combobox {
    &-input {
      display: block;
      width: 68 fgpx !important;
      font-size: 14px;
      line-height: 16px;
      color: #999;
      background: #1f1f1f;
      border: none;
      outline: none;

      &::placeholder {
        color: #444;
      }
    }
  }

  &__listbox {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    z-index: 1;
    z-index: 1;
    width: 100%;
    padding: 4px 0;
    overflow: hidden;
    background: #111;
    border: 1px solid #333;
    border-radius: 8px;
    outline: none;

    &-option {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 12px;
      font-size: 14px;
      line-height: 16px;
      color: #999;
      cursor: pointer;

      &:hover {
        color: #fff;
      }

      &[aria-selected="true"] {
        background: #1f1f1f;

        &::after {
          margin-left: auto;
          content: "✔️";
        }
      }
    }
  }
}

.norLoader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.norLoader::before , .norLoader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #FFF;
  animation: prixClipFix 2s linear infinite ;
}
.norLoader::after{
  inset: 8px;
  transform: rotate3d(90, 90, 0, 180deg );
  border-color: #4a88dd;
}

@keyframes rotate {
  0%   {transform: rotate(0deg)}
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
}